@{
    ViewData["Title"] = "Coaching Calculator";
}
<h1>@ViewData["Title"]</h1>
<p>This is a calculator for you to know how much you will be charges to get a coach for your basketball team.</p>

<form>
    <lable>Number of hours: </lable>
    <input id="hours"/>
    <br /><br />
    <input type="text" value="$30 per hour" readonly>
    <br /><br />
    <input type="button" value="Calculate Total" id="calcTotal"/>
    <br /><br />
    <lable>Total Charges</lable>
    <input type="text" id="totalCost" readonly/>
</form>


