@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">~Get to know more about me~</h1>
    <h3>This is the site to get to know more about me.</h3>
    <img src="~/image/takaku, aiki(web).jpg" />  
    <img src="~/image/famousmovie.jpeg" />
    <br /><br />
    <p style="text-align: left;">
        My name is Aiki Takaku. I am a student at Brigham Young University and study Inforamtion Systems. I love playing sports, especially basketball. \
        I have played basketball since I was 12 years old, so it's been almost 13 years now. I also like soccer, I am not really good at it, but I love to play soccer with my friends. For this semester, \
        I am participating for the intramural basketball with my frieds at BYU.</p>
    <p style="text-align: left;">
        In addition to that, I like to watch movies. When I have free time like Friday or Saturday night, I usually hang out with my frinds and do movie night. \
        My friends and I recently watched Star Wars. This is one of my favorite movies. I also like Marvels, Harry Potter, and Disney movies. I also like watching anime. \
        Anime is one of the most famous things from Japan, and there are many animes that are popular all over the world. I especially like 'One Piece.'
    </p>
</div>
